@use '../utils/' as *;

.btn {
  cursor: pointer;
  font-family: $font-family;
  background-color: $red;
  color: $white;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-grey {
  background-color: #e1e1e1;
  color: #000
}

.btn.small {
  font-size: 0.9rem;
  padding: 0.3rem 1.2rem;
  border-radius: unset;

  @include tablet {
    padding: 0.4rem 1.6rem;
  }

  @include mobile {
    padding: 0.3rem 1.2rem;
  }
}

.btn.info {
  @include flex(center, center);
}