@use '../utils/' as *;

.movie-card {
  position: relative;
  overflow: hidden;

  &:hover &__overlay {
    transform: translateY(0);
    transition: transform 0.2s ease;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(#000, 0.5);
    @include flex(center, center);
    transform: translateY(100%);
    transition: transform 0.2s ease;

    & > * {
      margin-right: 0.5rem;
    }
  }
}