@use '../utils/' as *;

.pagination {
  @include flex(center, center);

  & > * {

    margin-right: 1rem;
    padding: 0.5rem 1rem;

    @include mobile {
      margin-right: 0.5rem;
      padding: 0.2rem 0.5rem;
    }
  }

  span {
    cursor: pointer;
    background-color: #fff;
    color: #000;
  }

  span.dot {
    cursor: auto;
    color: #fff;
    background: unset;
  }

  span.active {
    font-weight: bold;
  }

  input {
    width: 60px;
    text-align: center;
  }
}