$black: #000;
$white: #fff;

$color-footer: #757575;
$border-grey: #222;
$red: #e50914;

$header-height: 5rem;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

